.Button {
  border: 1px solid transparent;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
}

/* Outline */
.Button[class*="-outline"] {
  background-color: transparent;
}

.Button--danger-outline { color: var(--red-500); }
.Button--dark-outline { color: var(--gray-900); }
.Button--default-outline { color: var(--gray-300); }
.Button--primary-outline { color: var(--primary-500); }
.Button--success-outline { color: var(--green-500); }

/* Mode */
.Button[class*="danger"] {
  border-color: var(--red-500);
}
.Button--danger,
.Button--danger-outline:hover {
  background-color: var(--red-500);
  color: var(--white);
}
.Button--danger:hover {
  background-color: var(--red-400);
}

.Button[class*="dark"] {
  border-color: var(--gray-900);
}
.Button--dark,
.Button--dark-outline:hover {
  background-color: var(--gray-900);
  color: var(--white);
}
.Button--dark:hover {
  background-color: var(--gray-800);
}

.Button[class*="default"] {
  border-color: var(--gray-300);
}
.Button--default,
.Button--default-outline:hover {
  background-color: var(--gray-300);
  color: var(--gray-900);
}
.Button--default:hover {
  background-color: var(--gray-400);
}

.Button[class*="primary"] {
  border-color: var(--primary-500);
}
.Button--primary,
.Button--primary-outline:hover {
  background-color: var(--primary-500);
  color: var(--white);
}
.Button--primary:hover {
  background-color: var(--primary-400);
}

.Button[class*="success"] {
  border-color: var(--green-500);
}
.Button--success,
.Button--success-outline:hover {
  background-color: var(--green-500);
  color: var(--white);
}
.Button--success:hover {
  background-color: var(--green-400);
}

/* Shape */
.Button--pill { border-radius: var(--shape-pill); }
.Button--rounded { border-radius: var(--shape-rounded); }
.Button--soft { border-radius: var(--shape-soft); }
.Button--square { border-radius: var(--shape-square); }

/* Size */
.Button--small {
  font-size: .75rem;
  padding: .625rem 1rem;
}

.Button--medium {
  font-size: .875rem;
  padding: .6875rem 1.25rem;
}

.Button--large {
  font-size: 1rem;
  padding: .75rem 1.5rem;
}
