.Button {
  border: 1px solid transparent;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
}

/* Disabled */
.Button.disabled {
  opacity: .65;
  pointer-events: none;
}

/* Shape */
.Button--pill { border-radius: var(--shape-pill); }
.Button--rounded { border-radius: var(--shape-rounded); }
.Button--soft { border-radius: var(--shape-soft); }
.Button--square { border-radius: var(--shape-square); }

/* Size */
.Button--small {
  font-size: .75rem;
  padding: .625rem 1rem;
}

.Button--medium {
  font-size: .875rem;
  padding: .6875rem 1.25rem;
}

.Button--large {
  font-size: 1rem;
  padding: .75rem 1.5rem;
}
