.ContactLink {
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: row;
  gap: .6rem;
  text-decoration: none;
  width: fit-content;
  &:hover {
    text-decoration: underline;
  }
}
