.Alert {
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.Alert--text {
  margin: 0 1.6rem;
  padding: 1rem 0;
}

/* Dismissable */
.Alert--dismissable .Alert--text {
  margin-right: 0;
}
.Alert--close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: .25rem;
  display: block;
  color: #000;
  height: 3.5rem;
  min-width: 3.5rem;
  opacity: .5;
  transition: opacity ease-in-out .2s;
}
.Alert--close:hover {
  opacity: 1;
}

/* Exit animation */
.Alert--exit {
  opacity: 0;
  transition: 1s;
}
.Alert--exit .Alert--close {
  visibility: hidden;
}

.Alert--exit-left {
  margin-left: -10rem;
  margin-right: 10rem;
}
.Alert--exit-right {
  margin-left: 10rem;
  margin-right: -10rem;
}

/* Mode */
.Alert--danger {
  background-color: var(--red-100);
  border-color: var(--red-200);
  color: var(--red-700);
}

.Alert--dark {
  background-color: var(--gray-800);
  border-color: var(--gray-900);
  color: var(--gray-100);
}
.Alert--dark .Alert--close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.Alert--default {
  background-color: var(--gray-100);
  border-color: var(--gray-400);
  color: var(--gray-900);
}

.Alert--primary {
  background-color: var(--primary-100);
  border-color: var(--primary-200);
  color: var(--primary-700);
}

.Alert--success {
  background-color: var(--green-100);
  border-color: var(--green-200);
  color: var(--green-700);
}

/* Shape */
.Alert--pill {
  border-radius: 5rem;
}
.Alert--pill .Alert--text {
  overflow-x: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Alert--rounded {
  border-radius: .75rem;
}

.Alert--soft {
  border-radius: .25rem;
}

.Alert--square {
  border-radius: 0;
}
