.Alert {
  border: 1px solid transparent;
  margin-bottom: 1rem;
  padding: 1rem 1.6rem;
  position: relative;
}

/* Mode */
.Alert--danger {
  background-color: var(--red-100);
  border-color: var(--red-200);
  color: var(--red-700);
}

.Alert--dark {
  background-color: var(--gray-800);
  border-color: var(--gray-900);
  color: var(--gray-100);
}

.Alert--default {
  background-color: var(--gray-100);
  border-color: var(--gray-400);
  color: var(--gray-900);
}

.Alert--primary {
  background-color: var(--primary-100);
  border-color: var(--primary-200);
  color: var(--primary-700);
}

.Alert--success {
  background-color: var(--green-100);
  border-color: var(--green-200);
  color: var(--green-700);
}

/* Shape */
.Alert--pill {
  border-radius: 5rem;
  overflow-x: scroll;
  white-space: nowrap;
}
.Alert--rounded {
  border-radius: .75rem;
}
.Alert--soft {
  border-radius: .25rem;
}
.Alert--square {
  border-radius: 0;
}
