// Colors
$black: #000000;
$blue: #0d6efd;
$cyan: #0dcaf0;
$gray: #adb5bd;
$green: #198754;
$indigo: #6610f2;
$purple: #6f42c1;
$red: #dc3545;
$teal: #20c997;
$yellow: #ffc107;
$white: #ffffff;

$danger: (
  50: #FBEBED,
  100: #F8D7DA,
  200: #F1AEB4,
  300: #EA8690,
  400: #E35D6A,
  500: #DC3545,
  600: #B02A37,
  700: #84202A,
  800: #58151B,
  900: #2C0B0E
);
$dark: #3c3c3c;
$info: (
  50: #E7FAFD,
  100: #CFF4FC,
  200: #9EE9F9,
  300: #6EE0F6,
  400: #3DD5F3,
  500: #0DCAF0,
  600: #0AA2C0,
  700: #087A90,
  800: #055060,
  900: #032830
);
$light: #f0f0f0;
$primary: (
  50: #EFF1FB,
  100: #DFE2F6,
  200: #BEC4ED,
  300: #9EA8E4,
  400: #7D8ADB,
  500: #5D6DD2,
  600: #4A57A8,
  700: #38427E,
  800: #252B54,
  900: #13162A
);
$success: (
  50: #EEF8F1,
  100: #DCF1E3,
  200: #B9E3C8,
  300: #96D6AC,
  400: #73C891,
  500: #50BA75,
  600: #40955E,
  700: #307046,
  800: #204A2F,
  900: #102517
);
$warning: $yellow;

// Theme: Colors
$theme--color: (
  danger: $red,
  dark: #3c3c3c,
  info: $cyan,
  light: #f0f0f0,
  primary: #5d6dd2,
  success: $green,
  warning: $yellow
);

// Theme: Shapes
$theme--shape: (
  pill: 500px,
  rounded: .75rem,
  soft: .25rem,
  square: 0
);
