@import '../abstract/variables';
@import '../abstract/functions';
@import '../abstract/mixins';

.Alert--mode-danger {
  --background: #{map-get($danger, 50)};
  --color: #{map-get($danger, 500)};
}
.Alert--mode-dark {
  --background: #{$dark};
  --color: #{$white};
}
.Alert--mode-info {
  --background: #{map-get($info, 50)};
  --color: #{map-get($info, 600)};
}
.Alert--mode-light {
  --background: #{$light};
  --color: #{$dark};
}
.Alert--mode-primary {
  --background: #{map-get($primary, 100)};
  --color: #{map-get($primary, 600)};
}
.Alert--mode-success {
  --background: #{map-get($success, 100)};
  --color: #{map-get($success, 600)};
}

.Alert {
  $spacing-x: 1.6rem;
  $spacing-y: .75rem;
  $text-size: 1rem;

  background-color: var(--background);
  border: 1px solid var(--color);
  color: var(--color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  min-height: 3rem;

  .Alert__text {
    align-items: center;
    display: flex;
    font-size: $text-size;
    line-height: 1.5;
    margin: 0 $spacing-x;
    padding: $spacing-y 0;
  }

  &.Alert--dismissable {
    .Alert__text {
      margin-right: 0;
    }
  }

  // Exit animation
  &.Alert--exit {
    opacity: 0;
    transition: 1s;

    &.Alert--exit-left {
      margin-left: -10rem;
      margin-right: 10rem;
    }
    &.Alert--exit-right {
      margin-left: 10rem;
      margin-right: -10rem;
    }

    .ButtonClose {
      visibility: hidden;
    }
  }

  // Shape
  &.Alert--shape-pill {
    height: $text-size + ($spacing-y * 2);
    scrollbar-color: $gray transparent;
    .Alert__text {
      line-height: 1;
      overflow-x: scroll;
      white-space: nowrap;
    }
  }
  @include shape("Alert", pill);
  @include shape("Alert", rounded);
  @include shape("Alert", soft);
  @include shape("Alert", square);
}
