@import '../abstract/variables';
@import '../abstract/mixins';

.Button--mode-danger {
  --color: #{map-get($danger, 500)};
  --hover: #{map-get($danger, 600)};
  --text: #{$white};
}
.Button--mode-dark {
  --color: #{$dark};
  --hover: #{color($dark, 800)};
  --text: #{$white};
}
.Button--mode-info {
  --color: #{map-get($info, 500)};
  --hover: #{map-get($info, 400)};
  --text: #{$black};
}
.Button--mode-light {
  --color: #{$light};
  --hover: #{color($light, 600)};
  --text: #{$black};
}
.Button--mode-primary {
  --color: #{map-get($primary, 500)};
  --hover: #{map-get($primary, 600)};
  --text: #{$white};
}
.Button--mode-success {
  --color: #{map-get($success, 500)};
  --hover: #{map-get($success, 600)};
  --text: #{$white};
}

.Button {
  background-color: var(--color);
  border: 1px solid var(--color);
  color: var(--text);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  transition: all .2s;

  &:hover {
    background-color: var(--hover);
    border-color: var(--hover);
  }

  // Disabled
  &:disabled {
    opacity: .65;
    pointer-events: none;
  }

  // Outline
  &[class*="outline"] {
    background-color: transparent;
    color: var(--color);
    &:hover {
      background-color: var(--color);
      border-color: var(--color);
      color: var(--text);
    }
  }

  // Shape
  @include shape("Button", pill);
  @include shape("Button", rounded);
  @include shape("Button", soft);
  @include shape("Button", square);

  // Size
  &.Button--size-small {
    font-size: .75rem;
    padding: .625rem 1rem;
  }
  &.Button--size-medium {
    font-size: .875rem;
    padding: .6875rem 1.25rem;
  }
  &.Button--size-large {
    font-size: 1rem;
    padding: .75rem 1.5rem;
  }
}
