@import '../abstract/functions';

.ButtonGroup--shape-pill {
  --shape: #{shape(pill)};
}
.ButtonGroup--shape-rounded {
  --shape: #{shape(rounded)};
}
.ButtonGroup--shape-soft {
  --shape: #{shape(soft)};
}
.ButtonGroup--shape-square {
  --shape: #{shape(square)};
}

.ButtonGroup {
  display: flex;
  flex-direction: row;

  .Button {
    border-radius: 0;
    &:first-child {
      border-bottom-left-radius: var(--shape);
      border-top-left-radius: var(--shape);
    }
    &:last-child {
      border-bottom-right-radius: var(--shape);
      border-top-right-radius: var(--shape);
    }
  }
}
