@import '../abstract/mixins';

.Card {
  $spacing: 1rem;

  border: 1px solid slategray;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: $spacing;
  width: fit-content;

  /* Shape */
  @include shape(Card, rounded);
  @include shape(Card, soft);
  @include shape(Card, square);

  .Card__content > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .Card__title {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: $spacing;
  }
}
