@import '../abstract/mixins';

@keyframes Placeholder-glow {
  50% {
    opacity: .2;
  }
}

.Placeholder {
  background-color: currentColor;
  display: inline-block;
  opacity: .5;
  vertical-align: middle;

  &.Placeholder--animate {
    animation: Placeholder-glow 2s ease-in-out infinite;
  }

  // Shape
  @include shape("Placeholder", pill);
  @include shape("Placeholder", rounded);
  @include shape("Placeholder", soft);
  @include shape("Placeholder", square);
}