@import '../abstract/variables';

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.Spinner--mode-danger {
  --mode: #{map-get($danger, 500)};
}
.Spinner--mode-dark {
  --mode: #{$dark};
}
.Spinner--mode-info {
  --mode: #{map-get($info, 500)};
}
.Spinner--mode-light {
  --mode: #{$light};
}
.Spinner--mode-primary {
  --mode: #{map-get($primary, 500)};
}
.Spinner--mode-success {
  --mode: #{map-get($success, 500)};
}

.Spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -.125em;
  border: .25rem solid var(--mode);
  border-right-color: transparent !important;
  border-radius: 50%;
  -webkit-animation: linear infinite spinner-rotate;
  animation: linear infinite spinner-rotate;

  .Spinner--hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
