.Alert {
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  min-height: 3rem;
  /* Exit animation */
  /* Mode */
  /* Shape */
}

.Alert .Alert--text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 1.6rem;
  padding: 0.75rem 0;
}

.Alert.Alert--dismissable .Alert--text {
  margin-right: 0;
}

.Alert.Alert--exit {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.Alert.Alert--exit.Alert--exit-left {
  margin-left: -10rem;
  margin-right: 10rem;
}

.Alert.Alert--exit.Alert--exit-right {
  margin-left: 10rem;
  margin-right: -10rem;
}

.Alert.Alert--exit .ButtonClose {
  visibility: hidden;
}

.Alert.Alert--danger {
  background-color: #f8d7da;
  border-color: #f1aeb5;
  color: #842029;
}

.Alert.Alert--danger .ButtonClose path {
  fill: #842029;
}

.Alert.Alert--dark {
  background-color: #343a40;
  border-color: #212529;
  color: #f8f9fa;
}

.Alert.Alert--dark .ButtonClose path {
  fill: #f8f9fa;
}

.Alert.Alert--default {
  background-color: #f8f9fa;
  border-color: #ced4da;
  color: #212529;
}

.Alert.Alert--default .ButtonClose path {
  fill: #212529;
}

.Alert.Alert--info {
  background-color: #cff4fc;
  border-color: #9eeaf9;
  color: #055160;
}

.Alert.Alert--info .ButtonClose path {
  fill: #055160;
}

.Alert.Alert--primary {
  background-color: #cfe2ff;
  border-color: #9ec5fe;
  color: #084298;
}

.Alert.Alert--primary .ButtonClose path {
  fill: #084298;
}

.Alert.Alert--success {
  background-color: #d1e7dd;
  border-color: #a3cfbb;
  color: #0f5132;
}

.Alert.Alert--success .ButtonClose path {
  fill: #0f5132;
}

.Alert.Alert--pill {
  height: 2.5rem;
  scrollbar-color: #adb5bd transparent;
}

.Alert.Alert--pill .Alert--text {
  line-height: 1;
  overflow-x: scroll;
  white-space: nowrap;
}

.Alert.Alert--pill {
  border-radius: 10rem;
  scrollbar-color: var(#adb5bd) transparent;
}

.Alert.Alert--rounded {
  border-radius: 0.75rem;
}

.Alert.Alert--soft {
  border-radius: 0.25rem;
}

.Alert.Alert--square {
  border-radius: 0;
}
