.ButtonClose {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: .6;
  padding: 12px;
  -webkit-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.ButtonClose:hover {
  opacity: 1;
}
